* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #11001C;
    font-family: "Poppins", sans-serif;
    color: white;
}
nav {
    background-color: #220135;
    color: white;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left {
    font-size: 1.5rem;
}
ul {
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
    margin: 0 23px;
}
a {
    text-decoration: none;
    color: white;
}
.outer {
    display: flex;
    justify-content: space-evenly;
    
    margin: 50px auto;
    width: 90%;
    gap: 20px;
}
.leftsec, .rightsec, .center {
    background-color: rgba(207, 133, 37, 0.8);
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    border-radius: 10px;
}
.leftsec {
    background-color: #cf8525;
}
.rightsec {
    background-color: rgb(230, 160, 69);
}
.center {
    background-color: rgb(196, 131, 46);
}
h3 {
    margin-bottom: 10px;
}
